header {
  text-align: center;
  background-color: #eee;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
}

a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.active {
  color: #666;
  text-decoration: underline;
}

button {
  position: absolute;
  top: 30%;
  right: 80px;
  background-color: #fff;
  font-size: 1.5em;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  font-weight: bold;
}
